// layout styles

.application {
  @include flex();
  min-height: 100vh;
}

.application-content {
  min-height: 100vh;
  @include flex();
  flex-direction: column;
  flex-grow: 1;
}

main {
  flex-grow: 1;
  padding: 30px 0px;
  margin-top: 56px;
  @media (min-width: 600px) {
    margin-top: 64px;
  }
}
