.toast-container {
  box-sizing: border-box;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  z-index: 1202;
  top: 0px;
  right: 0px;
}

.toast {
  @include flex();
  flex-direction: row;
  background-color: $white;
  margin: 10px;
  min-width: 180px;
  cursor: pointer;
  box-shadow: $box-shadow;

  .edge {
    background-color: $theme-primary;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    color: $white;
    flex-shrink: 0;
    padding-bottom: 4px;
    padding-top: 4px;
    position: relative;
    text-align: center;
    width: 8px;
    overflow: hidden;
  }

  .content {
    padding: 10px;
    flex-grow: 1;
    font-size: 14px;
    line-height: 1.4;
    min-height: 40px;
    padding: 8px 12px;
  }
}
