.page404 {
  @include flex();
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 25px;
  background-color: $white;
  min-height: 250px;

  .list {
    padding-left: 25px;
    flex-grow: 1;
    margin: 0;
  }

  a {
    color: $theme-primary;
    text-decoration: none;
    flex-grow: 1;

    &:hover {
      text-decoration: underline;
    }
  }
}

.menu-link.active-link {
  color: $theme-primary;

  span {
    font-weight: 600;
  }
}
