.page404 {
  text-align: center;

  a {
    color: $theme-primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.menu-link.active-link {
  color: $theme-primary;

  span {
    font-weight: 600;
  }
}
